<div class="growth__content-form mat-elevation-z8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="3" rowHeight="5:1">
      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="Descricao">
          <mat-error *ngIf="form.controls['Descricao'].invalid && form.controls['Descricao'].touched">Descrição é obrigatória.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Data Máxima de conclusão</mat-label>
          <input matInput formControlName="MaxDateconclusao">
          <mat-error *ngIf="form.controls['MaxDateconclusao'].invalid && form.controls['MaxDateconclusao'].touched">Data Máxima de conclusão é obrigatória.</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Tempo Estimado</mat-label>
          <input matInput formControlName="TempoEstimado">
          <mat-error *ngIf="form.controls['TempoEstimado'].invalid && form.controls['TempoEstimado'].touched">Tempo Estimado é obrigatório.</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="full-width">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Adicionar</button>
    </div>
  </form>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-table">
    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element?.ID}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Descricao">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let element">{{element?.Descricao}}</td>
    </ng-container>

    <!-- Due Date Column -->
    <ng-container matColumnDef="MaxDateconclusao">
      <th mat-header-cell *matHeaderCellDef>Data Máxima de conclusão</th>
      <td mat-cell *matCellDef="let element">{{element?.MaxDateconclusao}}</td>
    </ng-container>

    <!-- Estimated Time Column -->
    <ng-container matColumnDef="TempoEstimado">
      <th mat-header-cell *matHeaderCellDef>Tempo estimado</th>
      <td mat-cell *matCellDef="let element">{{element?.TempoEstimado}}</td>
    </ng-container>

    <!-- Columns to display -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
